<!DOCTYPE html>
<html lang="en">
<head>
    <title>NGO - Home</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <h1>Welcome to Our NGO</h1>
    <p>We help people by supporting their businesses and education.</p>
    <a href="/donate">Donate Now</a>
</body>
</html>

